
{% block content %} 
<!DOCTYPE html>
<html lang="en" >
<head>
	<title>Sign-in Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<style>
.login-form:before {
	background-image: url('static/pic/hall.jpg');
	background-size: 100% 100%;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(3px);
}

</style>
</head>

<body>
	<!--HEADING-->
	<h1>{% block title %}Barangay Resident Record Management Web Application{% endblock %}</h1>
	
	<!--HEADING-->
	<div class="logo">
	<img src="{{url_for('static', filename='pic/salasad.png')}}" align="middle" />
	</div>
	
	<!--LOGIN FORM-->
	<div class="login-form">
	<form method= "post" >
		<h2 align="center">Register</h2>
    <div class="container">
	{% for message in get_flashed_messages() %}
        <div class="alert alert-danger" style="margin-left:100px">{{ message }}</div>
    {% endfor %}
        
    </div>
		<div class="content">
		<div class="input-field">
        <input type="text"  name = "r_fullname" placeholder="Full Name" class="inputbox" required></input>
		</div>
		
		<div class="input-field">
        <input type="text"  name = "r_username" placeholder="Create Username" class="inputbox" required></input>
		</div>
		
		<div class="input-field">
		<input type="password" name = "r_password" placeholder="Password" class="inputbox" required></input>
		</div>
		
		<div class="input-field">
        <input type="password"  name = "r_confirmpass" placeholder="Confirm Password" class="inputbox" required></input>
		</div>
		
		
    
		<div class="action">
		<button type="submit" name="register" value="Register" class="buttonbox"><b>Register</b></button>
		</div>
		<br>
		
		<div style="text-align: center; font-size: 18px; ">
		<label >Already have an account? <a href="{{ url_for('login')}}"> Sign-in</a></label>
		
		</div>
	</form>
	</div>
	

</body>
</html>
{% endblock %}